$background-color: #EFEFEF; //The background color for the light mode.
$dark-background-color: #474242; //The background color for the dark mode.
$primary-color: #FFC8C8; //For the float button, icons and more.
$dark-primary-color: #FF9B82; //For the float button, icons and more in dark mode.
